.testing{
    color: cornflowerblue;
    font-size: 20px;
    padding-bottom: 5px;
}
.testing h1{
    margin-left: 5px;
}

.gradient{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.posttitle{
    width: 100%;
    float: left;
}
.posttile p{
    margin-left: 10px;
    padding-top: 10px;
}

.postbody{
    width: 100%;
}

.postdate{
    color:lightgrey;
    float:right;
}

#backtopost{
    text-align: center;
}
#loginForm div{
    padding-top: 10px;
    display: block;
    text-align: center;
}
